#works
    h1
        font-weight: 700
        font-size: 60px
        color: #43afb8 
        margin-bottom: 60px
    .box
        .imgbox
            width: 350px
        .textbox
            padding: 35px 55px
            h2
                font-weight: 700
                font-size: 25px
                margin-bottom: 9px
            h4
                font-size: 20px
                color: #747c9b
                line-height: 1.3
    @media screen and ( max-width: 992px)
        h1
            font-size: 45px
        .box
            .imgbox
                width: auto
            .textbox
                padding: 0 10px
    
    @media screen and ( max-width:768px )
        h1
            font-size: 35px
        .box
            .imgbox
                width: 250px
            .textbox
                h2
                    font-size: 20px
                h4
                    font-size: 17px
        
        